/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html
{
    font-size: 1em;
    line-height: 1.4;

    color: #222;
    background-color: #f4f6f6;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
Dark purple: #ACADFE
Light Purple:

Purple gradient: 8A8BE5 to BFBFFE

*/

h1,
h2,
h3,
h4,
h5
{
    font-family: Avenir, 'Nunito', sans-serif;
    font-weight: bolder;
}

body
{
    font-family: Geneva, 'Roboto', sans-serif;
}

.button
{
    padding: 5px 20px;

    border-radius: 20px;
}

.full-width
{
    width: 100%;
}

.purple-background
{
    color: white;
    background-color: #acadfe;
}

.purple-gradient-background
{
    background: rgb(138,139,229);
    background: linear-gradient(0deg, rgba(138,139,229,1) 0%, rgba(191,191,254,1) 100%);
}

.purple-text
{
    color: red;
}


.column
{
    display: flex;
    flex: 50%;
}

header
{
    position: fixed;

    border-bottom: 4px solid #acadfe;
}
.white-background
{
    color: #acadfe;
    background-color: white;
}

.purple-text
{
    color: #acadfe;
}

#hero h1
{
    font-size: 52px;
}

.width-wrapper,
.width-wrapper-tight
{
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

.width-wrapper-tight
{
    width: 80%;
}

.width-full
{
    width: 100%;
}

header
{
    position: fixed;
    z-index: 10000;

    border-bottom: 4px solid #acadfe;
}

#hero-image
{
    max-height: 300px;
    margin: auto;
}

#hero
{
    z-index: 0;

    padding-top: 150px;
    padding-bottom: 20px;
}

#hero p
{
    font-size: 20px;
}

#description
{
    z-index: -1;
}

.robot-img
{
    width: 100px;
    height: 100px;
}

.circular-image-background
{
    z-index: 100;

    border-radius: 50%;
    background: white;
}

.horizontal-image-flip
{
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
}

.general-spacing
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.flex
{
    display: flex;
    align-items: center;
}

.flex-reverse
{
    flex-direction: row-reverse;
}

#find-resources-title h3
{
    font-size: 40px;

    position: relative;
    z-index: 50;

    margin-right: -30px;
    padding-right: 50px;
    padding-left: 20px;

    text-transform: capitalize;

    border-radius: 40px;
}

#find-resources-title h3::before
{
    position: absolute;
    z-index: -10;

    display: block;
    float: left;

    width: 100%;
    height: 80%;
    margin-left: -70px;

    content: '';

    background-image: url(./../img/find-resources-background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.step-title-container h4
{
    font-size: 40px;
    font-weight: 500;
}
.step-number
{
    font-weight: 500;

    padding-right: 30px;
    padding-left: 10px;

    text-transform: uppercase;

    border: 1.5px solid #acadfe;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topright: 40px;
            border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -moz-border-radius-bottomright: 40px;
            border-bottom-right-radius: 40px;
}
.step-title
{
    margin-left: -30px;
    padding-left: 40px;

    text-transform: capitalize;

    border-bottom: 3px solid #acadfe;
}

.shadow
{
    z-index: 0;
    /* filter: drop-shadow(30px 10px 4px); */
    /* filter: drop-shadow(10px 20px 5px black); */

    box-shadow: 12px 12px 30px 1px rgba(0, 0, 255, .2);
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
}

header div
{
    padding: 0 10px;
}

h1
{
    font-weight: bold;
}

#usa-map
{
    width: 600px;
    max-width: 90%;
    height: 400px;
    margin: auto;
}

.results-box
{
    padding: 10px;
}

#resources-list
{
    display: flex;
    flex-wrap: wrap;
}

.resource-item
{
    width: 50%;
}

hr
{
    /* background-color: red; */
    /* border: 2px solid orange; */
    /* color: green; */
    /* border-color: orange; */
    height: 2px;

    border: 0;
    background: rgba(172, 173, 254, .4);
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden
{
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap; /* 1 */

    border: 0;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;

    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible
{
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after
{
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.clearfix:after
{
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em)
{
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi)
{
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print
{
    *,
    *:before,
    *:after
    {
        color: #000 !important; /* Black prints faster */
        background: transparent !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }

    pre
    {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}
